# Discord Bot Core
discord.py[voice]==2.4.0
python-dotenv==1.0.1

# Audio Processing
wavelink==3.4.1
PyNaCl==1.5.0
yt-dlp==2024.8.6

# Spotify Integration
spotipy==2.24.0

# Web Scraping (League of Legends Cog)
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0

# HTTP Client
aiohttp==3.9.5
